.AccordionItem {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;
}

.AccordionItem:hover {
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.header p {
  font-weight: bold;
  flex: 15 0 0;
}

.arrow-icon {
  flex: 1 0 0;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}

.open {
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.body-container {
  padding: 10px 20px 10px 20px;
  border-top: 1px solid white;
}

.body-container p {
  padding: 10px 0 10px 0;
}

.link {
  color: #007aff;
}

.link-container {
  padding: 10px 0 10px 0;
}
