* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  background-color: black;
}

.App {
  /* background-color: red; */
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}

.header-container {
  padding: 1rem 0 1rem 0;
  margin-top: 1rem;
}

.header-container h1 {
  font-size: 24px;
}

.faqs-container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* background-color: blue; */
}